* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {  
    padding: 0;
    margin: 0;
    background-color: #feffc7;
}

/*https://css-shape.com/grid-lines/*/
.grid-lines{
    --s: 40px;
    --t: 5px; 

    width: 200vw;
    height: 200vh;

    background: conic-gradient(
        from 90deg at var(--t) var(--t),
        transparent 25%, #ddf1b4 0
    ) 0 0 /var(--s) var(--s);

    animation: moveGrid 5s linear infinite;

}

@keyframes moveGrid {
    100% {
        transform: translate(-40px, -40px);
    }
}


.container{
    height: 300px;
    width: 500px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.container p {
    position: relative;
    font-family:Comic Sans MS, Comic Sans;
    top: 20px;
    left: 90%;
    transform: translateX(-50%); 
    font-size: 24px;
    font-weight: bold;
    color: #621103;
}

.star {
    font-size: 60px;
    color: #561804;
    position: absolute;
}

/* Each star is positioned separately */
.star1 { top: 50px; left: 180px; transform: rotate(10deg); }
.star2 { top: 0px; left: 390px; transform: rotate(-15deg); }
.star3 { top: 130px; left: 160px; transform: rotate(5deg); }
.star4 { top: 200px; left: 400px; transform: rotate(-20deg); }

.icon1{
    clip-path: polygon(58% 17%, 81% 13%, 80% 41%, 53% 34%, 47% 45%, 71% 60%, 54% 78%, 40% 51%);
    width: 60px;
    height: 40px;
    background-color: #561801;
    border:2px solid #561804;
    position: absolute;
    top: 130px;
    left: 380px;
}

.icon2{
    clip-path: polygon(25% 37%, 45% 25%, 68% 68%, 38% 86%);
    width: 30px;
    height: 30px;
    background-color: #561801;
    border:2px solid #561804;
    position: absolute;
    top: 145px;
    left: 390px;
}

.cat{
    background-color: orange ;
}

/*HEAD PARTS*/
.head{
    width: clamp(153px, 10vw, 130px);
    filter: drop-shadow(3px 3px 5px #8155134d);
    aspect-ratio: 1.2;
    background-color: #f5ad2c;
    border-radius: 50% 50% 40% 40% / 50% 60% 45% 50%;
    border: 6px solid #621103;
    border-bottom: none;
    position: absolute;
    top: 60px;
    right: 100px;
    z-index: 1;
}

.hair{
    clip-path: polygon(29% 73%, 14% 11%, 40% 45%, 63% 10%, 49% 73%);
    width: 50px;
    height: 50px;
    background-color: #621103;
    position: absolute;
    top: 37px;
    left: 305px;
    z-index: 2;
}

.hair::before{
    content: "";
    clip-path: polygon(29% 73%, 14% 11%, 40% 45%, 63% 10%, 49% 73%);
    width: 50px;
    height: 55px;
    background-color: #f5ad2c;
    position: absolute;
    top: 4px;
    left: 0px;
    z-index: 6;

}

.stripes {
    filter: brightness(90%);
    position: relative;
    width: 200px;
    top: 40px;
    left: 10px;
}

.stripe {
    width: 50px;
    height: 45px;
    background-color: #561804;
    position: absolute;
    z-index: 2;
}

.stripe:nth-child(1) {
    clip-path: polygon(1% 73%, 11% 42%, 22% 75%, 37% 44%, 50% 67%, 57% 50%, 70% 64%, 60% 25%, 48% 48%, 37% 21%, 23% 52%, 10% 19%, 0% 55%);
    top: -2px;
    left: -10px;
}

.stripe:nth-child(2) {
    left: -8px;
    clip-path: polygon(1% 23%, 16% 48%, 25% 22%, 40% 44%, 44% 21%, 67% 50%, 50% 42%, 48% 63%, 28% 41%, 18% 66%, 0% 43%);
    top: 20px;
}

.stripe:nth-child(3) {
    clip-path: polygon(2% 40%, 25% 69%, 24% 33%, 58% 64%, 52% 30%, 90% 67%, 65% 54%, 63% 83%, 35% 56%, 28% 87%, 4% 57%);
    top: 34px;   
    left: -3px;
}

.stripe:nth-child(4) {
    clip-path: polygon(27% 51%, 41% 34%, 47% 53%, 58% 36%, 69% 56%, 59% 19%, 48% 33%, 42% 15%, 27% 34%);
    top: 72px;   
    left: 9px;
}

.stripe:nth-child(5) {
    clip-path: polygon(11% 67%, 28% 44%, 33% 71%, 49% 54%, 54% 79%, 73% 43%, 60% 58%, 57% 31%, 38% 48%, 33% 22%, 6% 56%);
    top: 81px;   
    left: 5px;
}

.stripe:first-child ~ .stripe {
    opacity: 0.9;
}


.whiskers {
    filter: brightness(90%);
    position: relative;
    width: 200px;
    top: 23px;
    left: 1px;
}

.whisker {
    width: 30px;
    height: 8px; 
    background: #621103;
    position: absolute;
    transform: rotate(-0deg);
    border-radius: 90% 40% 20% 20%;
    right: 40px;
}

.whisker:nth-child(1) {
    top: -18px;
    right: 49px;
    transform: rotate(-40deg);
}

.whiska-f{
    width: 60px;
    height: 60px; 
    position: absolute;
    transform: rotate(-24deg);
    left: -17px;
    top: -13px;
}


.whiska{
    position: absolute;
    background: #621103;
    width: 60px;
    height: 60px; 
    clip-path: polygon(21% 32%, 36% 13%, 68% 71%, 64% 73%);
    border-radius: 100% 100% 0 0;
    transform: rotate(10deg);
}

.whiska:nth-child(1){
    top: 0px;
    right: 0px;

}
.whiska:nth-child(2){
    position:relative;
    top: 4px;
    right: 20px;
    transform: rotate(-2deg);

}
.whiska:nth-child(3){
    position:relative;
    top: -45px;
    right: 30px;
    transform: rotate(-25deg);

}

.right-eye{
    width: 50px;
    height: 70px;
    background-color: #fef7cd;
    border-radius: 90% 70% 60% 90% ;
    transform: rotate(10deg);
    border: 2px solid #621103;
    border-right: none;
    position: absolute;
    top: 30px;
    right: 43px;
}

.right-eye::before{
    content: "";
    width: 18px;
    height: 26px;
    background-color: #621103;
    border-radius: 60% 50% 60% 60% ;
    transform: rotate(-2deg);
    position: absolute;
    top: 22px;
    right: 4px;
}

.left-eye{
    width: 50px;
    height: 70px;
    background-color: #fef7cd;
    border-radius: 80% 70% 60% 60% ;
    transform: rotate(-9deg);
    border: 2px solid #621103;
    position: absolute;
    top: 30px;
    right: 4px;
}

.left-eye::before{
    content: "";
    width: 18px;
    height: 26px;
    background-color: #621103;
    border-radius: 60% 60% 60% 60% ;
    transform: rotate(2deg);
    position: absolute;
    top: 23px;
    right: 13px;
}

.right-eye + .left-eye {
    transform: scale(1.3);
}





/*BODY PARTS*/
.body{
    display: flex;
    width: clamp(100px, 10vw, 80px);
    aspect-ratio: 1.2;
    background-color: #f7aa2e;
    border-radius:50% 50% 50% 40% / 50% 60% 45% 50%;
    border: 5px solid #621103;
    border-top: none;
    position: absolute;
    top: 180px;
    right: 130px;
}

.body::before{
    content: "";
    width: 70px;
    height: 30px;
    background-color: #d3741c;
    border-radius:50% ;
    border-top: none;
    position: absolute;
    top: 44px;
    right: 10px;
}

.front-leg{
    position: absolute;
    top: 40px;
    left: 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.u-left-leg{
    width: 20px;
    height: 20px;
    background-color: #f7aa2e;
    border: 2px solid #621103;
    border-top: none;
    border-bottom: none;
    position: relative;
    z-index: 2;
}

.u-left-leg::before{
    content: "";
    width: 14px;
    height: 20px;
    background-color: #f7aa2e;
    border: 2px solid #621103;
    transform: rotate(-9deg);
    border-top: none;
    border-bottom: none;
    position: absolute;
    z-index: inherit;
    left: 27px;
}

.paw{
    box-shadow: 2px 2px 3px rgba(101, 54, 20, 0.3);
    width: 45px;
    height: 40px;
    background-color: #f7aa2e;
    border-radius: 50% 50% 60% 60% ;
    border: 3px solid #621103;
    position: absolute;
    bottom: -35px;
    z-index: 1;
}

.paw::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 40%;
    transform: translateX(-50%);
    width: 3px;
    height: 10px;
    background-color: #621103;
    border-radius: 2px;
}

.paw::after{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 70%;
    transform: translateX(-50%);
    width: 2.5px;
    height: 12px;
    background-color: #621103;
    border-radius: 3px;
}

.right-paw{
    width: 45px;
    height: 40px;
    background-color: #f7aa2e;
    border-radius: 80% 70% 60% 70% ;
    border: 3px solid #621103;
    transform: rotate(-20deg);
    position: absolute;
    bottom: -35px;
    left: 20px;
}

.right-paw::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 40%;
    transform: translateX(-50%);
    width: 3px;
    height: 10px;
    background-color: #621103;
    border-radius: 2px;
}

.right-paw::after{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 70%;
    transform: translateX(-50%);
    width: 2.5px;
    height: 12px;
    background-color: #621103;
    border-radius: 3px;
}


.back-paw-left{
    width: 45px;
    height: 55px;
    background-color: #f7aa2e;
    border-radius: 50% ;
    border: 3px solid #621103;
    transform: rotate(-45deg);
    position: absolute;
    bottom: -10px;
    left: -19px;
}

.back-paw-left::before{
    content: "";
    position: absolute;
    left: 32%;
    transform: translateX(-50%) rotate(-20deg);
    width: 2.5px;
    height: 12px;
    background-color: #621103;
    border-radius: 2px;
}

.back-paw-left::after{
    content: "";
    position: absolute;
    left: 73%;
    transform: translateX(-50%) rotate(5deg);
    width:2.5px;
    height: 12px;
    background-color: #621103;
    border-radius: 2px;
}

.back-paw-right{
    width: 45px;
    height: 50px;
    background-color: #cf7032;
    border-radius: 50% ;
    border: 3px solid #561804;
    transform: rotate(40deg);
    position: absolute;
    bottom: -10px;
    left: 75px;
    z-index: -1;
}

.back-paw-right::before{
    content: "";
    position: absolute;
    left: 40%;
    transform: translateX(-50%);
    width: 3px;
    height: 10px;
    background-color: #621103;
    border-radius: 2px;
}

.back-paw-right::after{
    content: "";
    position: absolute;
    left: 70%;
    transform: translateX(-50%);
    width: 3px;
    height: 10px;
    background-color: #621103;
    border-radius: 2px;
}


.left-ear, .right-ear {
    width: 40px;
    height: 38px;
    background-color: #f5ad2c;
    border-radius: 100% 30% 0% 0%;
    border: 3px solid #621103;
    border-bottom: none;
    position: absolute;
    top: 15%;
}

.left-ear { transform: rotate(-7deg); left: 270px; z-index: 2; }
.right-ear { transform: rotate(8deg); left: 340px; z-index: -1; }


.left-ear::before, .right-ear::before {
    content: "";
    position: absolute;
    width: 7px;
    height: 35px;
    background-color: #561804;
    border-radius: 50%;
    top: px;
    left: 30px;
}

.left-ear::after, .right-ear::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 34px;
    background-color: #561804;
    border-radius: 50%;
    transform: rotate(10deg);
    top: 2px;
    left: 23px;
}

.oval {
    position: absolute;
    width: 6px;
    height: 30px;
    background-color: #561804;
    transform: rotate(20deg);
    border-radius: 50%;
    top: 6px;
    left: 17px;
}

.mouth-r{
    width: 15px;
    height: 23px;
    background-color: #f7d765;
    display: block;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    transform: rotate(-230deg);
    border: 2px solid #561804;
    border-bottom: none;
    border-right: none;
    left: 95px;
    top: 87px;
    position: absolute
}

.mouth-l{
    width: 15px;
    height: 23px;
    background-color: #f7d765;
    display: block;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border: 2px solid #561804;
    transform: rotate(230deg);
    left: 80px;
    top: 89px;
    position: absolute
}

.nose-container {
    position: absolute;
    left: 87px;
    top: 85px;
    transform: scale(0.08);
    transform-origin: center top; 
    z-index: 2;
}


/* Uso de mask */
.nose {
    --s: 0.8; 
    --r: calc(40px * var(--s)); 
    background-color: #E97B58;
    width: calc(300px * var(--s)); 
    aspect-ratio: 1/cos(30deg);
    mask:
      conic-gradient(from -30deg at 50% calc(200% - 3*var(--r)/2),#000 60deg,#0000 0)
       0 100%/100% calc(100% - 3*var(--r)/2) no-repeat,
      radial-gradient(var(--r) at 50% calc(2*var(--r)),#000 98%,#0000 101%),
      radial-gradient(var(--r),#000 98%,#0000 101%) space no-repeat
       0 100%/calc(2*tan(60deg)*var(--r)) calc(2*var(--r));
    clip-path: polygon(50% 0,100% 100%,0 100%);
    position: absolute;
    transform: rotate(180deg);
}

.nose ~ .mouth-l {
    opacity: 0.9;
}


/* TAIL ayuda*/
.tail{
    width: 100px;
    height: 100px;
    border-top: none;
    position: absolute;
    top: 180px;
    right: 210px;
    z-index: -1;
}

.square{
    width: 20px;
    height: 20px;
    background-color: #cf7032;
    border: 3px solid #561804;
    border-top: none;
    border-bottom: none;
    transform: rotate(-50deg);
    position: absolute;
    top:20px;
    right: 9px;
}


.tail-1{
    width: 65px;
    height: 50px;
    background-color: #f5ad2c;
    border: 3px solid #561804;
    border-radius: 50%;
    transform: rotate(-20deg);
    position: absolute;
    top:-1px;
    right: 20px;
}

.tail-1::before{
    content: "";
    width: 38px;
    height: 33px;
    background-color: #cf7032;
    border-radius: 50%;
    transform: rotate(-60deg);
    position: absolute;
    top:7px;
    right: -2px;
}

.tail-stripes {
    clip-path: polygon(48% 2%, 12% 9%, 36% 20%, 17% 37%, 43% 34%, 36% 65%, 56% 49%, 57% 79%, 67% 29%, 48% 43%, 57% 18%, 37% 28%, 51% 12%, 33% 10%);
    width: 45px;
    height: 45px;
    background: #561801;
    position: absolute;
    top: 0px;
    left: 30px;
}

.tail-stripes-2{
    content: "";
    clip-path: polygon(58% 7%, 31% 17%, 67% 32%, 41% 43%, 66% 55%, 26% 49%, 44% 30%, 11% 14%);
    width: 40px;
    height: 40px;
    background: #561801;
    position: absolute;
    top: 0px;
    left: 50px;
}

.ovalo {
    width: 7px;
    height: 30px;
    background-color: #561804;
    border-radius: 50%;
    position: absolute;
    z-index: 5;
}

.ovalo[data-index="1"] { top: 6px; left: 20px; transform: rotate(25deg); }
.ovalo[data-index="2"] { top: 10px; left: 23px; transform: rotate(40deg); }
.ovalo[data-index="3"] { top: 18px; left: 26px; transform: rotate(55deg); }
.ovalo[data-index="4"] { top: 24px; left: 30px; transform: rotate(70deg); }
.ovalo[data-index="5"] { top: 30px; left: 35px; transform: rotate(80deg); }
